.MainContainer {
    margin: 0;
    padding: 0;
    /* Add other styles as needed */
  }
  .iframeContainer {
    margin: 0;
    padding: 0;
    /* Add other styles as needed */
  }

.mainText {
    color: black;
    text-shadow: none;
}

.imgHome {
    width: 100%;

}

/* mobile styles */
@media only screen and (max-width: 600px) {

}